/* style */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.highlighted {
  background-color: yellow;
}

.fade-element {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* CSS transition for smooth animation */
}

.hidden {
  opacity: 0;
}
